[Unit]
Description=raspbotpi: a Telegram bot to admin the Raspberry Pi

[Service]
Type=simple
ExecStart=/home/fmarotta/raspbotpi/scripts/index.sh start

